<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Barbutton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DABF1D431D90F1D9004893BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DABF1D5C1D90F1DA004893BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DABF1D671D90F1DA004893BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
